.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.hero-text {
  text-align: center;
  font-size: 3rem;

  .text1 {
    color: white;
  }
  .effect {
    @media screen and (max-width: 560px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 464px) {
      font-size: 2.3rem;
    }
    @media screen and (max-width: 427px) {
      font-size: 2.2rem;
    }
    @media screen and (max-width: 408px) {
      font-size: 2.1rem;
    }
    @media screen and (max-width: 390px) {
      font-size: 2.0rem;
    }
    @media screen and (max-width: 371px) {
      font-size: 1.9rem;
    }
  }
}


.h-sub-text {
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;

  .icon-holder {
    margin-right: 1rem;

    .icon {
      font-size: 2.8rem;
      color: #a4acc4;
      transition: all .4s ease-in-out;
    }

    .tg:hover {
      color: blue;
    }

    .gh:hover {
      color: rgba(212, 45, 212, 0.788);
    }

    .ln:hover {
      color: red;
    }
  }
}